<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile Form</title>
</head>
<body>
    <h1>User Profile Form</h1>
    <form method="post" enctype="multipart/form-data" enctype="multipart/form-data" action="{% url 'createprofile' %}">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>

        <label for="about">About:</label><br>
        <textarea id="about" name="about" rows="4" cols="50"></textarea><br><br>

        <label for="profilePic">Profile Picture:</label><br>
        <input type="file" id="profilePic" name="profilePic"><br><br>

        <label for="DOB">Date of Birth:</label><br>
        <input type="date" id="DOB" name="DOB"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
