<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Dashboard
    <a href="{% url 'mylogout' %}">Logout</a>
    {% if user and user.profile.user %}
    <a href="{% url 'profile' user.profile.user %}">Profile Page</a>
    {% else %}
    <p>We don't have your profile info yet.</p> 
    {% endif %}
    <a href="{% url 'createprofile' %}">Add/Edit your Profile</a>
</body>
</html>